In [1]:
import pandas as pd

In [3]:
info = {
    "Name" : ["Ashik A", "Ashik2","Ashik3"],
    "CGPA" : [9.5,9.8,10],
    "AGE" : [10,20,30]
}

df = pd.DataFrame(info)

print(df)

      Name  CGPA  AGE
0  Ashik A   9.5   10
1   Ashik2   9.8   20
2   Ashik3  10.0   30

In [4]:
df

      Name  CGPA  AGE
0  Ashik A   9.5   10
1   Ashik2   9.8   20
2   Ashik3  10.0   30

In [5]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [7]:
print(df.columns)

Index(['Name', 'CGPA', 'AGE'], dtype='object')

In [9]:
#import form numpy
import numpy as np
np_arr = np.array([[1,2,3],[4,5,6]])

df1= pd.DataFrame(np_arr , columns = ["A","B","C"])

print(df1)

   A  B  C
0  1  2  3
1  4  5  6